*{
font-family: sans-serif;
margin: 0;
padding: 0;
}




body{
background-color: rgb(77, 100, 129);


}
h1{
    text-align: center;
    font-size: 4rem;
    
   padding-top: 20px;

background-image: linear-gradient(to top, rgb(77, 100, 129) , rgb(222, 224, 228, 0.25));

}

.tast{

margin-top: 30px;
margin-bottom: 30px;
width: 50vw;
margin-left: auto;
margin-right: auto;

padding:  20px;
display: flex;
justify-content: space-between;



background: rgba(70, 91, 119, 0.75);
box-shadow: 0 8px 32px 0 rgba(91, 98, 187, 0.37);
backdrop-filter: blur( 6.5px );
-webkit-backdrop-filter: blur( 6.5px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
border-bottom: 3px solid  #fff;
}
.icon-star{
    font-size: 24px;
    cursor: pointer;
}

p{
    font-size: 22px;
}
.icon-star, .icon-trash{

    opacity: 0.4;
    cursor: pointer;
}
.icon-star:hover{

    color: orange;
    opacity: 1;
    font-size: 28px;
    transition: 0.3s;
}
.icon-trash{
    margin-right: 10px;
    cursor: pointer;
    font-size: 28px;
}
.icon-trash:hover{
    color: rgb(207, 99, 10);
    font-size: 30px;
    opacity: 4;
    transition: 0.3s;
}

.icon-sad2{
    color: rgb(240, 224, 11);
    font-size: 24px;
}
.icon-sad2:hover{
    font-size: 28px;
    transition: 0.3s;
    cursor: pointer;
}
h2{
    font-size: 45px;
    text-align: center;
    margin-top: 110px;
    margin-bottom: 40px;
}
form{
    text-align: center;
}
input{
    padding: 10px 25px;
    border-radius: 7px;
    width: 30vw;
    font-size: 20px;
text-align: center;
cursor: pointer;
}

button{all: unset;
color: #fff;
}


.icon-upload{
    font-size: 35px;
    margin-left: 15px;
    position: relative;
    top: 9px;
    cursor: pointer;
    
}
.icon-upload:hover{
    font-size: 40px ;
    transition: 0.3s;
    color: rgb(116, 164, 196);
    cursor: pointer;
}

.dn{
display: none;

}

.icon-heart{
    font-size: 23px;
    color: rgb(235, 15, 15);
}
.icon-heart:hover{
    font-size: 26px;
    transition: 0.3s;
    
}
.finish{
    text-decoration-line: line-through;
    text-decoration-style: wavy;


}
.orange{
    color: rgb(233, 116, 7);
    opacity: 1;
}
